body {
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', sans-serif;
    text-transform: uppercase;
    background-color: #e9e9e9;
}
header, h2 {
    margin: 15px auto;
    color: #000000;
}

header {
    font-size: 5vmin;
}

h2 {
    font-size: 3vmin;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.game-board {
    display: grid;
    justify-content: center;
    grid-template-rows: 15vmin 15vmin 15vmin;
    grid-template-columns: 15vmin 15vmin 15vmin;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: -1px;
    font-size: 12vmin;
}
/* .box#1 {
    border: 2px solid;
} */

section {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset {
    font-family: 'Permanent Marker', sans-serif;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #979797;
    color: black;
    border: 2px solid rgb(133, 133, 133);
    width: 200px;
    visibility: hidden;
  }
  
  .reset:hover {background-color: #777777;}